/* Footer styles */
.footer {
  background-image: url('../assets/img/footer-bg.png');
  /* background: #121212; */
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer span {
  font-size: 14px;
  color: #b8b8b8;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.footer-icons a {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.footer-icons a:hover {
  color: #007bff;
}